* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato", sans-serif;
    color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}


h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 30px;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

.container {
    margin: 30px auto;
    max-width: 1400px;
    padding: 0;
}

.navbar {
    background-color: purple;
    height: 70px;
    padding: 0 30px;
}

.navbar h1 {
    margin: 10px 0;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 300;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    margin: 0 10px;
    color: white;
    padding: 9px;

}

.navbar a:hover {
    color: #9867C5;
    border-bottom: 3px solid #9867C5;
}

.showcase {
    height: 300px;
    background-color: purple;
}

.showcase p {
    margin-bottom: 30px;
}

.showcase img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    max-width: 450px;
}

.showcase-form {
    margin: auto;
    padding-left: 7px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
    position: relative;
    top: 50px;
}

.showcase input[type='email'] {
    padding: 10px 70px 10px 0;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: #9867C5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.lower-container {
    margin: 100px auto;
    max-width: 1400px;
    padding: 0;
}

.title {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.text {
    color: black;
    font-size: 19px;
    width: 100%;
    padding: 10px;
    margin: 0, 20px;
    text-align: justify;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.stats {
    padding: 45px 50px;
    text-align: center;
}

.stats .fa {
    color: purple;
}

.stat {
    margin: 0 30px;
    text-align: center;
    width: 800px;
}

