* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "lato", sans-serif;
    color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}


h1 {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    margin: 10px 0;
    line-height: 1.2;
    font-size: 25px;
    font-weight: 300;
}

p {
    font-size: 30px;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

p {
    margin: 10px 0;
    font-size: 20px;
}

.container {
    margin: 30px auto;
    max-width: 1400px;
    padding: 0;
}

.navbar {
    height: 70px;
    padding: 0 30px;
    background-color: #800080;
}

.navbar h1 {
    margin: 10px 0;
    line-height: 1.2;
    font-size: 30px;
    font-weight: 300;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    margin: 0 10px;
    padding: 9px;
    color: #fff;

}

.navbar a:hover {
    border-bottom: 3px solid #9867C5;
    color: #9867C5;
}

.showcase {
    height: 300px;
    background-color: #800080;
}

.showcase p {
    margin-bottom: 30px;
}

.showcase img {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
    max-width: 450px;
}

.showcase-form {
    margin: auto;
    padding-left: 7px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1,
.grid-item-2 {
    position: relative;
    top: 50px;
}

.showcase input[type='email'] {
    border: none;
    border-radius: 6px;
    padding: 10px 70px 10px 0;
    padding-left: 6px;
    font-size: 14px;
}

.btn {
    margin-left: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    background: #9867C5;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.lower-container {
    margin: 100px auto;
    max-width: 1400px;
    padding: 0;
}

.title { 
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    text-align: left;
    color: #000;
}

.text {
    margin: 0, 20px;
    width: 100%;
    padding: 10px;
    font-size: 19px;
    text-align: justify;
    color: #000;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.stats {
    padding: 45px 50px;
    text-align: center;
}

.stats .fa {
    color: #800080;
}

.stat {
    margin: 0 30px;
    width: 800px;
    text-align: center;
}

.testimonial {
    color: black;
    padding: 40px;
}

.testimonial img {
    height: 100%;
    clip-path: circle();
}

.testimonial h3 {
    text-align: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card {
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                  7px 7px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.circle {
    position: relative;
    top: -30px;
    /* left: 120px; */
    left: calc(50% - 45px);
    box-sizing: border-box;
    border: 3px solid #800080;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: transparent;
}

footer {
        background-color: #800080;
        padding: 10px 10px;
}

footer a {
    color: #fff;
    margin: 0 10px;
}

footer a:hover {
    color: #9867C5;
    border-bottom: 2px solid #9867C5;
}

.footer-flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.links-list {
    justify-content: center;
}

.links-list a {
    margin: 0 25px;
    font-size: 1.2em;
}

.profiles {
    justify-content: flex-end;
}

/* Media Queries */

/* Tablets and under */

@media(max-width: 768px) {
    .grid,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    .showcase {
        height: auto;
        text-align: center;
    }

    .image {
        margin-left: 80px;
        width: 600px;
    }

    .stats .flex {
        flex-direction: column;
    }

    .stats {
        text-align: center;
    }

    .stat {
        width: 100%;
        padding-right: 80px;
    }

    .circle {
        position: relative;
        top: -30px;
        left: 270px;
        border: 3px solid #800080;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: transparent;
    }

    .links-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .links-list a {
        margin: 0;
    }

    .footer-flex {
        justify-content: flex-start;
    }

    .links {
        display: flex;
        justify-content: flex-start;
    }

    .profiles {
        margin: -10px;
    }

    footer .container {
        margin: 15px 0;
    }
}